.navbar-collapse{
    justify-content: flex-end;
}
nav{
    background-color:#030713;
    color:white;
    height: 136px;
    width:100vw;
}
.navbar-toggler{
    background-color: #ffccff !important;
}
.nav-link{
    color:#ffccff !important;
}
.carousel-item{
    
    height: 100vh;
}
.d-block{
    
    height:100vh;
}
.carousel-caption{
    top:25%;
}
section.register-form{
    background-color:black;
    color:#ffccff;
}
footer{
    background-color:#030713;
    color:#ffccff;
}
#btn-register{
    background-color:black;
    border:1px solid #ffccff;
    color: #ffccff;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

.time {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #ffccff;
  
}
  .time::before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 30px;
    padding-left:26px;
    height: 1.25em;
    width: 1.25em;
    background-color: #34435E;
    text-align: center;
    line-height: 0em;
    color: #ffffff;
    font-size: 1em;
  }

.time:nth-child(odd) {
    text-align: right;
    border-right: 3px solid;
    padding-right: 37px !important;
    padding-left: 0px !important;
    font-weight: 700;
    font-size: 20px;
}
  .time:nth-child(odd)::before {
    left: 100%; 
    margin-left: -20px;
  }

.time:nth-child(even) {
    text-align: left;
    border-left: 3px solid;
    padding-right: 20px !important;
    padding-left: 37px !important;
    font-weight: 700;
    font-size: 20px;
}
  .time:nth-child(even):before {
    right: 100%; 
    margin-right: -20px;
  }

.time:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.time:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
.register-btnn{
    background-color: black;
    color: #ffccff;
    border: 2px solid #ffccff;
    padding:10px;
    border-radius:10px;
    margin-bottom:20px;
}
.register-btnn:hover{
    background-color: #ffccff;
    color: black;
    border: 2px solid black;
    padding:10px;
    border-radius:10px;
}
.show-parti{
    background-color: black;
    color: #ffccff;
    border: 2px solid #ffccff;
    padding:10px;
    border-radius:10px;
    margin-bottom:20px;
}
.show-parti:hover{
    background-color: #ffccff;
    color: black;
    border: 2px solid black;
    padding:10px;
    border-radius:10px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');


.container {
  position: relative;
  margin: auto;
  overflow: hidden;
  height: auto;
}

h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 2em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #F6F4F3;
}

#timer {
  color: #F6F4F3;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
}



.days {
  background: #A257BB;
}

.hours {
  background: #F6F4F3;
  color: #14072C;
}

.minutes {
  background: #FE65C3;
}

.seconds {
  background: #FFCCFF;
  color:#14072C;
}

.numbers {
  font-family: 'Montserrat', sans-serif;
  color: #14072C;
  font-size: 4em;
}


.white .triangle {
    border-bottom: 14px solid #F6F4F3;
  }
.white .string {
    background: #F6F4F3;
    border: 1px solid #F6F4F3;
  }

.red .triangle {
    border-bottom: 14px solid #A257BB;
  }
  .red .string {
    background: #A257BB;
    border: 1px solid #A257BB;
  }

.blue .triangle {
    border-bottom: 14px solid #FE65C3;
  }
  .blue .string {
    background: #FE65C3;
    border: 1px solid #FE65C3;
  }
.balloon {
  border: 1px solid #000;
  border-radius: 50% 50% 50% 50%/ 40% 40% 60% 60%;
  z-index: 2;
}

.eye {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 40%;
  left: 22%;
  background: #000;
  border-radius: 50%;
}
.eye:after {
    content: '';
    left: 35px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    position: absolute;
}
.mouth {
  position:absolute;
  top: 45%;
  left: 43%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
}

.triangle {
  position: absolute;
  left: 40%;
  bottom: -10%;
  width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}

.string {
  position: absolute;
  height: 70px;
  width: 1px;
  left: 48%;
  top: 100%;
  z-index: -1;
}

.star {
  width: 20px;
  height: 20px;
  background: #F6F4F3;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-red {
  width: 30px;
  height: 30px;
  margin-left: 51px;
  margin-top: -5px;
  background: #A257BB;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.left{
  position:absolute;
  top:50%;
  left:3%;
  color:#ffccff;
  
}
.right{
  position:absolute;
  top:20%;
  right:3%;
  color:#ffccff;
  
}
.right2{
  position:absolute;
  top:85%;
  right:3%;
  color:#ffccff;
}
@media (min-width:768px){
  .mr-logo{
    width:175px;
  }
  .timer{
    background-image: url(../img/web_bg.png);
  }
  .y{
    font-size: 75px;
  }
  .left{
    font-weight:700;
  font-size:37px;
  }
  .right{
    font-weight:700;
  font-size:37px;
  text-align: right;
  }
  .right2{
      font-weight:700;
    font-size:37px;
  }
  .first{
    height:100vh;
  }
    .idea-points{
        font-size:20px;
    }
    .navbar.fixed-top{
        padding-left:100px !important;
        padding-right: 100px !important;
        width:100vw !important;
    }
    #ABOUT{
        padding:100px;
        padding-top:150px;
    }
    .register-p{
        font-size:25px;
        font-weight: 700;
        color:#ffccff;
    }
    /* .mobile.carousel-inner{
        display: none;
    }
    .carousel-inner{
        display:block;
    } */
    #carouselExampleIndicators{
        display:block;
    }
    .blue {
        position: absolute;
        background: #FE65C3;
        height: 80px;
        width: 80px;
        left: 55%;
        top: 13%;
        
      }
      .red {
        position: absolute;
        background: #A257BB;
        left: 24%;
        top: 16%;
        height: 65px;
        width: 70px;
        
      }
      .white {
        position: absolute;
        background: #F6F4F3;
        height: 85px;
        width: 75px;
        left: 39%;
        top: 12%;
      }
      .days, .hours, .minutes, .seconds {
        display: inline-block;
        padding: 30px;
        width: 200px;
        border-radius: 5px;
      }
      #timer
      {
        margin-top: 14%;
        margin-bottom:120px;
    }
    .wave{
      position: absolute;
      width: 50% !important;
      /* height: 145px; */
      top: 57px;
      left: 23%;
    }
    .timeline {
      background-image: url(../img/web.png);
      height: 111vh;
      width: 100vw;
      background-size: cover !important ; 

    }
    #ABOUT{
      background-image: url(../img/web_bg.png);
      background-size: cover !important;
    }
    .register{
      background-image: url(../img/web_bg.png);
      background-size: cover !important;

    }
    #PRIZES{
      background-size: cover;
      background-image:url(../img/web_bg.png)  ;
      padding-top: 50px;
      padding-bottom: 50px;
      
      /* height:100vh;
      background-repeat: no-repeat;
      background-position-x: center;
      background-color: #03001D; */
    }
    .prize{
      padding-bottom: 90px !important;
    }
    .pricebox{
      color: #DFBE9D;
      padding-top: 39px;
      padding-bottom: 50px;
            height: 340px;
            width:340px !important;
            line-height: 20px;
            border: double 5px #6F0B96;
            border-radius: 10cm;
            text-align: center;
            margin: 10px auto;
      background-color: rgba(254, 101, 195,0.5);
            
         }
         .pricebox h2{
           font-size:32px;
           font-weight: 600;
         }
         .pricebox h6{
           font-size:22px;
           font-weight: 600;
         }
         .about-title{
           padding-bottom:90px !important;
         }
         .nav-link{
           font-size:22px !important;
           font-weight: 700;
         }
         .register-form{
          background-size: cover;
          background-image:url(../img/mob.png)  ;
          padding-top: 50px;
          padding-bottom: 50px;
        }
}
@media (max-width:768px){
  video{
    margin-top:122px !important;
    display:none;
  }
  .mr-logo{
    width:100px;
  }
  .register{
    background-image: url(../img/mob.png);
    background-size: cover !important;

  }
  .wave{
    position: absolute;
    width: 74% !important;
    /* height: 145px; */
    top: 81px;
    left: 11%;
  }
  .mob-wave{
    top:120px !important;
  }
  .about-title{
    padding-bottom:25px !important;
  }
  .register-form{
    background-size: cover;
    background-image:url(../img/mob.png)  ;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #PRIZES{
    background-size: cover;
    background-image:url(../img/mob.png)  ;
    padding-top: 50px;
    padding-bottom: 50px;
    
    /* height:100vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #03001D; */
  }
  .timeline {
    background-image: url(../img/Timeline-mob.png);
    height: 73vh;
    width: 100vw;
    background-size: contain !important ;
    background-repeat: no-repeat; 
    background-color: #040713;

  }
  .pricebox{
    color: #DFBE9D;
    padding-top: 39px;
    padding-bottom: 50px;
          height: 256px;
          width:256px !important;
          line-height: 20px;
          border: double 5px #6F0B96;
          border-radius: 50%;
          text-align: center;
          margin: 10px auto;
    background-color: rgba(254, 101, 195,0.5);
          
       }
       .pricebox h2{
         font-size:26px;
         font-weight: 600;
       }
       .pricebox h6{
         font-size:21px;
         font-weight: 600;
       }
  .first{
    background-image: url(../img/back-mobile.gif);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo-main{
    width:200px !important;
  }
  .left{
    top:60%;
    left:2%;
    font-size:17px;
    font-weight: 700;
  }
  .right{
    position:absolute;
    top:84%;
    left:3%;
    color:#ffccff;
    font-size:17px;
    font-weight: 700;
  }
  .y{
    font-size:28px;
  }
  .right2{
    top:77%;
    left:3%;
    font-size:17px;
    font-weight: 700;
  }
    .about-title{
        font-size:36px !important;
    }
    .timeline{
        padding:0px !important;
    }
    #timer{
        margin-top: 35%;
        margin-bottom:90px;
        width: 95vw;
        font-size:0.6em;
        letter-spacing: 0px;
        
    }
    .days, .hours, .minutes, .seconds {
        display: inline-block;
        padding: 20px;
        width: 80px;
        border-radius: 5px;
      }
    .timer h2{
        padding-top:100px; padding-bottom:50px; 
    }
    .red {
        position: absolute;
        background: #A257BB;
        left: 8%;
        top: 3%;
        height: 65px;
        width: 70px;
        
      }
      .white {
        position: absolute;
        background: #F6F4F3;
        height: 85px;
        width: 75px;
        left: 30%;
        top: 0%;
        
        
      }
      .blue {
        position: absolute;
        background: #FE65C3;
        height: 80px;
        width: 80px;
        left: 53%;
        top: 0%;
        
      }
    .idea-points{
        font-size:13px;
        padding:10px 28px 10px 52px !important;
    }
    .navbar.fixed-top{
        padding-left:30px !important;
        height: auto;
        background-color: #030412;
        padding-right: 30px !important;
    }
    .carousel-caption h5{
      font-size:38px !important;
    }
    .carousel-caption p{
      font-size: 22px !important;
    }
    .presents{
      font-size:20px !important;
    }
    /* .mobile.carousel-inner{
        display: block;
    }
    .carousel-inner{
        display:none;
    } */
    /* #carouselExampleIndicators{
        display:none;
    } */
    .logo1{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    /* .navbar{
        flex-wrap: nowrap !important;
    } */
    .navbar-collapse{
        background-color:black;
    }
    .register-img{
        width:100vw;
    }
    .register-p{
        font-size:25px;
        font-weight: 700;
        color:#ffccff;
    }
    .timer{
      background-image: url(../img/mob.png);
      background-size: cover;
      padding-top:72px;
    }
    #ABOUT{
        padding-top:50px;
        background-image: url(../img/mob.png);
      background-size: cover;
    }
    .reg-form{
        width:90% !important;
        margin-top:157px !important;
        background-image: url(../img/mob.png);
      background-size: cover;
    }
}
