{% extends "layout/base.html" %}

{% block title %} Registered teams {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
section.attendees{
    background-size: cover;
      background-image:url("{{url_for('static',filename='img/web_bg.png')}}")  ;
      padding-top: 50px;
      padding-bottom: 50px;
      color:#FFCCFF
}
table.abso{
    width:86vw;
    position:absolute;
    background-color:#14072C;
}
th,td{
    font-size:17px;
}
</style>
{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}
<section class="attendees" style="height:100vh;">
<div class="container">
    <div class="row">
    <h1 style="margin-top:170px; text-align:center;font-weight:800; margin-bottom:50px;">Registered Candidates <i class="fas fa-users"></i></h1>
        <table class="attendees-table fold-table" style="text-align:center;">
        <thead>
            <th style="width:10%;">Team_ID</th>
            <th style="width:20%;">Team Name</th>
            <th style="width:10%;">Team Members</th>
            <th style="width:20%;">Team Type</th>
            <th style="width:40%;">Problem Statement</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="view">
                    <td>{{user.id}}</td>
                    <td>{{user.team_name}}</td>
                    <td>{{user.team_members}}</td>
                    <td>{{user.team_type}}</td>
                    <td>{{user.problem_statement}}</td>
                </tr>
                <tr class="fold">
                    <td>
                        <div class="fold-content">
                        <table class="abso">
                            <thead>
                            <tr>
                                <th>Participant name</th><th>Participant Email</th><th>Participant Phone Number</th><th>Organization</th><th>Is Leader</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            {% for i in range(user.team_members|int) %}
                                <td>{{participant_name[loop.index][i]}}</td>
                                <td>{{participant_email[loop.index][i]}}</td>
                                <td>{{participant_phone[loop.index][i]}}</td>
                                <td>{{participant_organization[loop.index][i]}}</td>
                                <td>{{participant_is_leader[loop.index][i]}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
</section>
<script>
    $(function(){
        $(".fold-table tr.view").on("click", function(){
            $(this).toggleClass("open").next(".fold").toggleClass("open");
        });
        });
</script>
{% endblock content %}